:root {
  --button-primary: #34495e;
  --hover-button-primary: #aacfd0;
  --active-button-primary:#ffffff;
  --button-text: #ffffff;
  --border-form: #a6a6a6;
}

#root{
  height: 100vh;
}

.IndexPage .btn1{
  padding: 1em;
  background-color: var(--button-primary);
  border-color: var(--button-primary);
}

.IndexPage .btn1:hover{
  background-color: var(--hover-button-primary);
  border-color: var(--hover-button-primary);
}

.IndexPage .btn1:first-child:active{
  background-color: var(--active-button-primary);
  border-color: var(--active-button-primary);
}

.IndexPage .btn2{
  padding: 1em;
  background-color: var(--button-primary);
  border-color: var(--button-primary);
}

.IndexPage .btn2:hover{
  background-color: var(--hover-button-primary);
  border-color: var(--hover-button-primary);
}

.IndexPage .btn2:first-child:active{
  background-color: var(--active-button-primary);
  border-color: var(--active-button-primary);
}

div .address p{
  margin: 0!important;
}

.content-button{
    margin: 1em 5em;
}

.content-button .btn{
  margin: 1em;
  background-color: var(--button-primary);
  border-color: var(--button-primary);
  color: var(--button-text);
  width: 200px;
}

form div{
  margin: 1em;
}

form label{
  margin: 0 1em;
}

.disc{
  margin: 2em;
  border-width: 1px;
  border-style: solid;
  border-color: var(--border-form);
  border-radius: 10px;
}

.view{
  padding: 2em;
}

.contentButton{
  margin: 0 2em 1em 2em;
  width: 35em;
}

.sync {
  width: 10em;
  max-width: 10em;
}

.contentButton div i{
  padding: 0.8em 1em;
}

.contentButton .btn-content {
  text-decoration: none;

}

.thinkPage .textareaContent{
  width: 70%;
}

.thinkPage textarea{
  height: 100px!important;
}

.buttonSend button{
  margin: 2em 10em;
}

.form-select{
  width: 70%!important;
}

.cardView{
  width: 18rem;
  margin: 1em;
}

.cardView h5{
  font-size: 1rem;
}

.cardView p{
  font-size: 0.9rem;
}

.containerCampaign h2{
  margin: 1em;
}

.icon li{
  list-style: none;
}

.icon li i{
  margin: .5em;
}

.cardReward{
  width: 18rem;
  margin: 1em;
}

.cardReward h5{
  font-size: 1rem;
}

.cardReward p{
  font-size: 0.9rem;
}

.cardReward button{
  margin: 1em 0;
  background-color: var(--button-primary);
  border-color: var(--button-primary);
  width: 100%;
}
